<div class="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__tittle">products</h2>
  <ul class="products__types">
    <li class="products-item">
        <h3 class="products-item__tittle">ice cream</h3> 
         <img
                    src="images/images portfolio/technocrack.jpg"
                    alt="lody w rożku"
                    width="370"
                    height="294"
                  />
        <p class="products-item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <svg class="products-item__svg>
         </svg>
    </li>
  </ul>
</div>
